*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
}

:root{
    --background-color-body: rgba(165, 42, 42, 0.712);
    --logo-color: brown;
    --logo-hover-color: rgba(165, 42, 42, 0.567);
    --black-color-text: #000;
    --link-color-hover: rgb(67, 66, 66);
    --properties-color: #e3e1e162;
    --white-color-text: #fff;
    --blueviolet-color-button-cart: rgb(173, 108, 233);
    --only-color: #8b8a8a;
    --list-color: rgb(116, 114, 114);
    --font-size-button: 16px;
}

@media (max-width: 1980px){
    img{
        width: 90%;
        height: 90vh;
    }
    main{
        display: flex;
    }
}

@media (max-width: 980px){
    img{
        width: 100%;
    }
    main{
        display: grid;
        gap: 12px;
    }
}

main{
    padding: 29px;
}

h1{
    font-size: 3.2em;
}

img{
    border-radius: 4px;
    animation-name: fade;
    animation-duration: 500ms;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: scale(.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.navbar{
    display: flex;
    list-style: none;
    gap: .7rem;
}

.content{
    padding-top: 1em;
}

.content-section{
    width: 500px;
    margin: auto;
}

.content1{
    display: grid;
    gap: 12px;
    padding-top: 3rem;
}

.cor{
    color: var(--black-color-text);
}

a{
    color: var(--black-color-text);
    transition: .5s ease;
}
a:hover{
    color: var(--link-color-hover);
}

li{
    color: var(--list-color);
}

#li{
    list-style: none;
}
h3{
    color: var(--black-color-text);
}

#logo{
    color: var(--white-color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--logo-color);
}

#logo:hover{
    color: var(--black-color-text);
    font-size: 18px;
    background-color: var(--logo-hover-color);
}

.more{
    padding-top: 2rem;
}

.properties{
    height: 4rem;
    width: 26rem;
    gap: 4rem;
    display: flex;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background-color: var(--properties-color);
}

.only{
   color: var(--only-color);
}

#price{
    font-size: 2rem;
}

.btn{
    padding-top: 3rem;
}

button{
    cursor: pointer;
    height: 2.3rem;
    width: 12.4rem;
    border-radius: 4px;
}

.cart{
    color: var(--white-color-text);
    font-size: var(--font-size-button);
    border: none;
    transition: .3s ease;
    background-color: var(--blueviolet-color-button-cart);
}
.cart:hover{
    background-color: var(--background-color-body);
}

.add{
    font-size: var(--font-size-button);
    border: 1px solid var(--only-color);
    transition: .3s ease;
    background-color: transparent;
}
.add:hover{
    background-color: var(--background-color-body);
    color: var(--white-color-text);
}

